html
  head
  body
    .firstScreenPage
      .container
        h1 Вас приветствует сайт Журавлёва Юрия Владимировича
      .scrollDown(target='main')
    header
      .container
        .row.headerBackground
          .col-4.logoBackground
          .col-8
            h2.headerTitle Харьковский национальный университет строительства и архитектуры
    main#main
      .container
        .row
          .col-4.portretBackground
          .col-8
            h2.mainTitle Декан, кандидат технических наук, професор - Журавлёв Юрий Владимирович
    nav
      .container
        .row
          a.nav-link.active(href='index.html') Главная
          a.nav-link.active(href='news.html') Новости 
          a.nav-link.active(href='distanceEducation.html') Дистанционное образование
          a.nav-link.active(href='documentation.html') Документация
          a.nav-link.active(href='#') Контакты
    footer
      .container
        .row
          div made with love by Andrey Voronov
    // Optional JavaScript
    // jQuery first, then Popper.js, then Bootstrap JS
    script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js', integrity='sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ', crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js', integrity='sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm', crossorigin='anonymous')
